.admin-panel
{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	overflow: auto;
}

.admin-panel h3
{
	float: left;
}

.admin-panel > div
{
	float: right;
	padding: 10px 5px;
}

.main-block
{
	margin-top: 10px;
	margin-bottom: -4px;
}

.main-block input[type="radio"],
.main-block > div
{
  display: none;
}

.main-block > label
{
	cursor: pointer;
	padding: 20px 5px;
	border: 1px solid #000;
	display: inline-block;
}
.main-block > label span:last-child
{
	background: #ced8da; /*#aeb4b5;*/
	padding: 1px;
	border-radius: 25%;
}

.main-block input[type="radio"]:checked + label 
{
	border-bottom: 3px solid #fff;
}
/*
.main-block > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.main-block > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.main-block > input:nth-of-type(3):checked ~ div:nth-of-type(3)
{
 display: block;
 border: 1px solid #000;
} */

.objects-box
{
  padding-top: 20px;
}

.objects-box,
.main-block button[type="radio"] 
{
  border: 1px dashed #000;
  background-color: #fff;

}

.main-block button[type="radio"] 
{
	border-bottom: none;
}

.main-block button[type="radio"]:hover,
.main-block button.active-tab
{
	padding-top: 30px;
}

.objects-box, .row, .text-box
{
	overflow: auto;	
}

.column
{
	float: left;
	width: 18%;
	min-height: 20px;
}

.box
{
	float: left;
	/*max-width: 50%;*/
	width: 45%;
	padding: 10px;
}

.have-sub-cat
{
	position: relative;
}

.have-sub-cat::before
{
	content: '+';
	position: absolute;
	cursor: pointer;
	top: 30%;
	right: 20%;
	display: block;
}

.subcategory
{
	display: none;
}

.avatar-box,
.text-box,
.button-box
{
	float: left;
}

.avatar-box
{
	width: 20%;
	min-height: 200px;
}

.avatar-box img
{
	max-width: 180px;
	width: 90%;
}

.avatar-box img:hover
{
	
}
form > div
{
	margin: 12px 0;
}

form > div,
form > div > input,
form > div > button
{
	text-align: center;
}

form > div > input,
form > div > textarea
{
	width: 70%;
}

form > div > textarea
{
	height: 500px;	
}

.text-box
{
	width: 60%;
}

.button-box
{
	width: 20%;
}

.error
{
	text-align: center;
	background-color: rgb(239,15,15,0.75);
	color: #ffff;
	width: 100%;
	animation: errormove forwards ease;
	animation-duration: 1s;
	position: relative;
}

@keyframes errormove
{
	from
	{
		top: -7000px;
	}
	to
	{
		top: 0;
	}
}

.modal-window
{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	background: rgb(0,0,0,0.75);
	transition: opacity 400ms ease-in;
}

.modal-add,
.modal-edit,
.modal-pass,
.modal-delete
{
	display: block;
}

.modal-add .add-edit-form .password,
.modal-pass .add-edit-form .password
{
	display: block;
}

.modal-pass .add-edit-form .user-fields,
.modal-edit .add-edit-form .password,
.modal-delete .add-edit-form .password,
.modal-delete .add-edit-form .user-fields
{
	display: none;
}

.add-edit-form
{
	position: relative;
	background: #ffff;
	padding: 1%;
	margin: 10% auto;
	width: 20%;
	text-align: center;
}

.add-edit-form h4,
.add-edit-form div 
{
	text-align: center;	
}
.add-edit-form > div 
{
	margin: 10px 0;
}

.add-edit-form div *
{
	width: 60%;
	display: block;
	margin: 8px auto;
}

.add-edit-form div img 
{
	width: 220px;
	/*height: 120px;*/
}

.add-edit-form button
{
	margin: 3px;
	width: 30%;
	display: inline-block;
}

.add-edit-form .close
{
	position: absolute;
	border-radius: 50%;
	padding: 3px 6px;
	width: 25px;
	top: 0;
	right: 0;
	color: #656562;	
}

.row:first-child .column:last-child

{
	border: 0;
}

.column
{
	border: 1px solid #000;
	margin: 1px;
}

input.column
{
	background-color: #ffff004a;
}

.footer
{
	width: 100%;
}

.center-box
{
	margin: 0 auto;
	width: 900px;
}

.center-box .login-form
{
	text-align: center;
	padding: 33% 0;
}

.center-box form .error
{
	padding: 2px;
}

.center-box .login-form div,
.center-box .login-form p
{
	width: 20%;
	margin: 5px auto;
}

button
{
	padding: 7px 21px;
	margin: 2px;
	cursor: pointer;
}

.post-title
{
	text-align: center;
	text-transform: uppercase;
}

.post-author a
{
	padding: 3px;
	position: relative;
	text-transform: capitalize;
	animation: author-out 3s forwards;
}

@keyframes author-out
{
	0%
	{
		right: -100px;
	}

	100%
	{
		right: 5px;
		background: #000;
		color: #fff;
		text-decoration: underline;
	}
}

.post-title span
{
	text-transform: capitalize;
	padding: 5px;
	animation: categorytitle forwards 3s;		
	position: relative;
}

@keyframes categorytitle
{
	from
	{
		top: 0;
	}
	to
	{
		top: 20px;
		margin-left: 10px;
		background: #000;
		color: #fff;
	}	
}

.info-block 
{	
	text-align: right;
}
.posts-box
{
	padding: 20px;
}

@media screen and (max-width: 710px)
{
	.box
	{	
		/*max-width: 50%;*/
		width: 100%;
	}	
}