.admin-panel
{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	overflow: auto;
}

.admin-panel h3
{
	float: left;
}

.admin-panel > div
{
	float: right;
	padding: 10px 5px;
}

.main-block
{
	margin: 10px 0;
}

.main-block input[type="radio"],
.main-block > div
{
  display: none;
}

.main-block > label
{
	cursor: pointer;
	padding: 20px 5px;
	border: 1px solid #000;
	display: inline-block;
}

.main-block input[type="radio"]:checked + label 
{
	border-bottom: 3px solid #fff;
}

.main-block > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.main-block > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.main-block > input:nth-of-type(3):checked ~ div:nth-of-type(3)
{
 display: block;
 border: 1px solid #000;
}

.users-box, .row, .text-box
{
	overflow: auto;	
}

.column
{
	float: left;
	width: 18%;
	min-height: 20px;
}

.box
{
	float: left;
	/*max-width: 50%;*/
	width: 50%;
}

.avatar-box,
.text-box,
.button-box
{
	float: left;
}

.avatar-box
{
	width: 20%;
	min-height: 200px;
}

.text-box
{
	width: 60%;
}

.button-box
{
	width: 20%;
}

.modal-window
{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	background: rgb(0,0,0,0.75);
	transition: opacity 400ms ease-in;
}

.add-edit-form
{
	position: relative;
	background: #ffff;
	padding: 1%;
	margin: 10% auto;
	width: 20%;
}

.add-edit-form h4,
.add-edit-form div 
{
	text-align: center;	
}
.add-edit-form > div 
{
	margin: 10px 0;
}

.add-edit-form div *
{
	width: 60%;
	display: block;
	margin: 0 auto;
}

.add-edit-form div img 
{
	width: 100px;
	height: 120px;
}

.add-edit-form button
{
	margin: 3px;
	width: 30%;
	display: inline-block;
}

.row:first-child .column:last-child

{
	border: 0;
}

.column
{
	border: 1px solid #000;
	margin: 1px;
}

input.column
{
	background-color: #ffff004a;
}

.footer
{
	width: 100%;
}

.center-box
{
	margin: 0 auto;
	width: 900px;
}

@media screen and (max-width: 710px)
{
	.box
	{	
		/*max-width: 50%;*/
		width: 100%;
	}	
}